// Header全体
.Header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff ;
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: bolder;
  
}

// Headerロゴとその説明文
.Header__title {
  margin: 0 0 0 21px;
  p {   /* font-weight: 900; */
    a { display: flex;
        align-items: center;
        line-height: 1.3;
        font-weight: 900;
      
      >img { height: 33px;
              width: auto;

      }
      

      span {
          margin-left: 16px;
          white-space: nowrap;
          font-size: 1.4rem;
          color: #131D34;

          strong {
            font-size: 1.8rem;

          }
        }

    }
  }
}
// 1280px以下ではHeaderのリンクの説明文は消去する // 
@media (max-width:1280px) {
  .Header__title {
    p {
      a{
        img {
          height: 30px;
          width: auto;
        }
        span{
          display: none;
        }
      }
    }
  }
}

// 1200px以上ではButtonは隠す →PCの場合はボタンを表示させない
@media (min-width:1200px){
  button {
    display: none;
  }
}


// Headerのリンク // サブメニューは基本的に隠す
.Main-Nav { 
  // font-weight: 700;
  font-size: 16px;
  color: #131D34;
  display: flex;
  

  li { height: 70px;
       display: block;
       
       
    a { display: block; 
        display: flex;         /* リンク文字を中心にする */
        align-items: center;   /* リンク文字を中心にする */
        height: 70px;
        padding: 0 15px;
        color: #121212;

       
        
     + ul {
        li { display: none; /* サブメニューを消す */
             
        
        }
      }
    }
  }
  >li:last-child {
    > a { background-color: #2498b3;
           color: #fff;
    }

  }
 
}


@media (max-width:1200px) {
// メインメニューの高さを50pxとする。
.Header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff ;
  z-index: 1100;
  position: fixed;
  top: 0;
  left: 0;
}

// ハンバーガーメニューのボタン →1200px以下は表示する

$btnWidth: 23px;
$btnHeight: 2px;

.p-ham_ger {
	width           : 50px;
  height          : 50px;
  background-color: #fff;
	// background-color: #2498b3;
  position        : relative;
  
	
	&::before,
	&::after {
		content   : "";
		width     : $btnWidth;
		height    : $btnHeight;
    // background: #fff;
    background-color: #2498b3;
		position  : absolute;
		left      : calc( 50% - ( #{$btnWidth} / 2 ) );
		display   : block;
		transition: transform 0.2s;
	}
	&::before {
		top: 15px;
	}
	&::after {
    top: 35px;
	}
	> span {
		width          : $btnWidth;
		height         : $btnHeight;
		font-size      : 0;
		background     : linear-gradient( to right, #2498b3,#2498b3 ) repeat-x #2498b3;
		background-size: auto $btnHeight;
		position       : absolute;
		left           : calc( 50% - ( #{$btnWidth} / 2 ) );
		top            : 50%;
    transition     : transform 0.2s;
   
    
	}
	&.is-open {
    background-color: #2498b3;
    border-style:none ;
    
		&::before {
			transform: rotate( 45deg );
      top      : 24px;
      background-color:#fff;
		}
		&::after {
			transform: rotate( -45deg );
      top      : 24px;
      background-color:#fff;
		}
		> span {
			background: none;
		}
	}
}



// 1200px以下はハンバーガーメニュを見せるので、メインメニューを見せない
  .Main-Nav {
    display: none;
  }
}



// // メインメニューを触ったらサブメニューが浮かぶ形になる。

.Main-Nav { 
  li { position: relative;  /* サブメニューの基準 */     
    &:hover { display: block;
              height: 70px;
              color: #131D34;
              background-color:#bcebf7;
              transition: .3s;
        ul.sub-nav   { position: absolute;  /* サブメニューの基準 */   
                      display: block;
                 li  {  display: block; /* サブメニューを表示させる */
                        font-weight: 400;
                   a {
                       width: auto;
                       height: 70px;
                       padding: 15px 60px 15px 15px;
                       white-space: nowrap;
                       background-color:#d4f1f8;
                       font-weight: 400px;
                      }
                     a:hover {
                      background-color: #fff;
                      }
            
                       }
                      }           
              }
       }
     }

//メインメニューのレスポンシブ化
@media (max-width:1200px) {
  $btnWidth: 23px;
  $btnHeight: 2px;

  body {
    overflow-x: hidden;
  }
  .Header__title{
    position: relative;
    margin: 10px;
  }


  .Header__link {
    height: 50px;
    .Main-Nav {
      transition: all 300ms 0 ease;
      width         : 100vw;
      position: absolute;
      background    :#fff;
      display       : flex;
      flex-direction: column;
      align-items   : center;
      z-index       : 100;
      overflow-y    : auto;
      left: 0%;
      visibility: hidden; // メインメニューをアニメでOpenする為に必要
      opacity: 0;   // メインメニューをアニメOpenする為に必要
      transition: .3s;
      
      &.is-open {
      left: 0%; 
      visibility: visible;  // メインメニューをアニメでOpenする為に必要
      opacity: 1;           // メインメニューをアニメOpenする為に必要

        > li { height: 50px; 
          width: 100%;
          position  : relative;
          transition: .5s;

          > a {
          
          display: block;
          width: 100%;
          padding: 15px;
        

//////////////////////////横の「+」を表現
           
            &::before,&::after {
	          	content   : "";
	            	width     : $btnWidth;
		            height    : $btnHeight;
  
               background-color: #131d34;
               position  : absolute;
              //  橋を合わせる
		           left      : calc( 100% -  #{$btnWidth} - 13.5px ) ;
		           display   : block;
	          	 transition: transform 0.2s;
	             }
	          &::before {
              top: 25px;
              
              }
              
	          &::after {
            top: 25px;
            transform: rotate( 90deg );
            }
            
/////////////横の「+」を表現 /////  ここまで
          
          } 
          
        }

       >li:last-child {  /* 「受験はこちら」を消す */
          display: none;
        }

///////ここから「はじめまして」等のホバー処理 //////////  
       > li:hover {
        // display: block;
        visibility: visible;  // subメニューをアニメでOpenする為に必要
        opacity: 1;    // subメニューをアニメでOpenする為に必要
        height: auto; /* →子要素を挿入する為、高さはautoとする */
        color: #131D34;
        background-color:#fff;

/////////////ホバーしたら「-」と変更 /////  
        > a {
          display: block;
          width: 100%;
          padding: 15px;
          height: 50px;  /* →挿入する子要素を50pxで表現する。 */
            &::before,&::after {
	          	content   : "";
	            	width     : $btnWidth;
		            height    : $btnHeight;
  
               background-color: #131d34;
               position  : absolute;
              //  端を合わせる
		           left      : calc( 100% -  #{$btnWidth} - 13.5px ) ;
		           display   : block;
	          	 transition: transform 0s;
	             }
	          &::before {
              top: 25px;
              }
              
	          &::after {
              display: none;
            }  
         }
/////////////ホバーしたら「-」と変更  ここまで/////  


/////////////ここからアコーディオン/////  
        >ul.sub-nav { 
              visibility: visible;  
              opacity: 1;            
              transition: .6s;
              //  display: block;
               top:50px;
               position: static; /* position: absolute; を削除*/ 
         >li {  display: block; 
                height: 50px;
              

          > a{
              width: auto;
              height: 50px;
              white-space: nowrap;
              background-color: #fff;
              padding-left: 25px;
             

          } /////////  ----- a
         } /////////  ----- li

        }  /////////  ----- ul.sub-nav


       } /////////  ----- li.hover

       

       } /*  .Main-Nav&.is-open */ 
    } /* -------.Main_Nav */
  }   /* -------.Header__link */
  

  // li.apply_class {
  //     height: 300px;
  //    }
  }