//  topのメインページ 
.main {
  padding-top: 70px;
}

@media (max-width:1200px) {
  // メインメニューの高さを50pxとする為、mainのPadding位置を修正
  .main {
    padding-top: 50px;
  }
}


article {
  display: block;

}

//  3枚目の画像（これはスクロールしても固定）→ 
.fir-head {
  width: 100%;
  height: 650px;
  background: transparent url(/image/bg-hero3.png) no-repeat center center;
  background-size:cover ;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

.fir_main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}

.fir_layer1 {
  background: transparent url(/image/bg-hero1.png) no-repeat center center;
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
}

.fir_body {
  // max-width: 530px;
  border-radius: 10px;
  padding: 43px 40px 19px;
  background-color: #fff;
  text-align: center;
  p {
    margin: 1.3em 0 .5em;
    font-weight: 700;
  }
}

// // 768px以下は以下の通りとなる。
@media (max-width:767px) {
  .fir-head{
    height: 300px;
    padding-bottom: 320px;
    background-position: center -25px;
    position: relative;
    > .fir_main {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
  
  
  .fir_layer1 {

    background: transparent url(/image/bg-hero1.png) no-repeat center center;
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center -30px;
    
  }

  .fir_body {
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
    padding: 9px 0 13px; 
    background-color: #fff;
    text-align: center;

    .fir_title{
      display: none;
    }

    p {
      font-size: 1.3rem;
      margin: .5em;
      font-weight: 700;
    }
  }



}

///ここまで


.fir_title {
  img {
    width: 280px;
    height: auto;
  }
  p { display: block;

  }
}

p.Btn_highlight {
  line-height: 1;
  display: inline-block;

  a {
    border-radius: 4px;
    display: block;
    padding: 24px 37px;
    font-size: 1.8rem;
    background-color: #2498b3;
    border-color:#2498b3;
    font-weight: 700;
    border: solid 1px #2498b3;
    color: #fff;
  }

}

.fir_layer2 {
  background: transparent url(/image/bg-hero2.png) no-repeat center center;
  z-index: 200;

}
//767px以下だと、このCSSが読まれる。
@media (max-width:1200px) {
   p.Btn_highlight {
     > a {
       padding: 12px 18px;
       font-size: 1.6rem;
     }
    }


.fir_layer2 { background-size: cover;
              background-position: center -25px;
  }
}


// ここから黒のページ

.sec_main { background-color: black;
 z-index: 500;
 padding: 4em 0;
}

.Wrap_three {
  margin : 0 auto;
  max-width: 714px;
  
}

.Wrap_three_wide {
  max-width: 1078px;  

}

.recommend_all {
  position: relative;
  display: flex;
  margin-top: -263px;
  justify-content: center;
  color: #fff;
  z-index: 1000;

}

.recommend_entry {
  margin: 0 50px;
  width: 229px;
}

.recommend_title {
  text-align: center;
  p { margin: .2em 0 0;
      font-weight: 700;
      font-size: 24px;

  }
}

.recommend_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  color: #000;
  border: solid 6px #000;
  border-radius: 50%;
  background-color: #fff;
  font-size: 100px;
}

.fal {
  font-family: 'Font Awesome 5 Free ';
  font-weight:400;
  
}

.recommend_body {
  p { margin: .5em 0 0 ;
    line-height: 1.7;
    font-weight: 700;
  }
}

// // 768px以下は以下の通りとなる。
@media (max-width:768px) {
  .sec_main { background-color: black;
    z-index: 500;
    padding: 4em 0;
    
   }

  .recommend_all {
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 1000;
   
  }
  .recommend_title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .recommend_icon{
    margin: 0 auto;
  }

  .recommend_entry {
    width: 100%;
  }

  .recommend_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}